html {
  font-family: Helvetica, sans-serif;
  font-size: 18px;
  line-height: 1.4;
}

a {
  text-decoration: none;
  color: white;
  font-size: 1rem;
}

.flex-container {
  display: flex;
}

header {
  background-image: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-5/tortoiseshell-optics/resources/images/glasses-bg.png);
  height: 18rem;
  background-size: cover;
  background-position: 20%;
}

.nav-bar {
  background-color: cadetblue;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 2rem;
  position: fixed;
  width: 100%;
}

.logo img {
  height: 1.5rem;
  padding-right: 1rem;
}

.wordmark {
  display: none;
}

#navToggle {
  margin-right: 4rem;
}

.nav-container {
  display: none;
}

.headline-container {
  align-items: center;
  width: 100%;
}

h1 {
  margin-top: 12.5rem;
  background-color: white;
  width: 100%;
  padding: 1rem 0;
  text-align: center;
  line-height: 1.2;
  font-size: 1rem;
  text-transform: uppercase;
  font-weight: bold;
}

.product-features {
  flex-direction: column;
  align-items: center;
  padding: 3.77rem 0.75rem 1.23rem 0.75rem;
}

.feature {
  flex-direction: column;
  align-items: center;
}

.feature h3 {
  padding-top: 1rem;
  padding-bottom: 1.54rem;
  font-size: 0.77rem;
}

#paper img{
  width: 3rem;
}

#ruler img, #truck img {
  width: 5rem;
}

.main-info {
  flex-direction: column;
}

.main-info h2 {
  background-color: cadetblue;
  font-weight: bold;
  font-size: 1rem;
  color: white;
  text-transform: uppercase;
  text-align: center;
  padding: 0.5rem 1.25rem;
}

.main-info p {
  font-size: 0.77rem;
  margin: 1rem 0.75rem 4rem 0.75rem;
}

footer {
  background-color: azure;
  padding: 4rem;
}

.copyright {
  justify-content: center;
}

.copyright img {
  height: 1.5rem;
}

.copyright p {
  display: none;
}

@-ms-viewport{
  width: device-width;
}

@media only screen and (min-width: 768px) {
  header {
    height: 22rem;
    width: auto;
    background-position: center;
  }

  .logo {
    display: flex;
    align-items: center;
  }

  .wordmark {
    display: flex;
    font-size: 1rem;
  }

  #navToggle {
    display: none;
  }

  .nav-container {
    display: flex;
  }

ul, li {
    padding-right: 2rem;
  }

  .headline-container {
    width: 100%;
    justify-content: flex-end;
  }

  h1 {
    margin-top: 5rem;
    margin-right: 2rem;
    width: 37%;
    padding: 1.5rem 4rem;
    font-size: 1.33rem;
  }

  .product-features {
    flex-direction: row;
    justify-content: center;
    padding: 3rem 0rem;
  }

  .feature {
    height: 8rem;
    width: 5rem;
    padding: 0rem 3rem;
    justify-content: space-between;
  }

  .feature h3 {
    text-align: center;
    font-size: 1rem;
  }

  .main-info {
    flex-direction: row;
    padding-bottom: 5rem;
    justify-content: center;
  }

  .main-info h2 {
    text-align: left;
    width: 10rem;
  }

  .main-info p {
    font-size: 1rem;
    margin: 1rem 0rem 0rem 0rem;
  }

  .philosophy, .appointments {
    width: 35%;
    margin: 0 2.5%;
  }

  .copyright {
    justify-content: flex-start;
  }

  .copyright p {
    display: block;
    padding-left: 1rem;
  }
}

@media only screen and (min-width: 960px) {
  header {
    height: 31rem;
    background-position: 30%;
    justify-content: center;
  }

  .nav-bar {
    width: 960px;
    margin-top: 1rem;
  }

  ul, li {
    padding-right: 0;
    padding-left: 2rem;
  }

  .headline-container {
    width: 960px;
    }

  h1 {
    margin-top: 10rem;
    margin-right: -2rem;
    width: auto;
    padding: 1.5rem 5rem;
    font-size: 2rem;
  }

  main {
    width: 960px;
    margin: 0 auto;
  }

  footer {
    width: 960px;
    margin: 0 auto;
  }
}
